/* common WordPress css */

.alignleft {
  float: left;
}
/* page header */

.logo {
  margin: 15px;
}
/* comments */

.comments {
  margin: 2em 0;
}

.commentlist,
.children {
  list-style: none;
}

.commentlist {
  padding: 0;
}

.children {
  padding: 0 0 0 70px;
}

.comment-meta {
  margin: 10px 0;
}

.avatar {
  margin: 0 10px 0 0;
}

.fn {
  margin: 0 0 5px 0;
}
/* widgets */

.widget_calendar th,
.widget_calendar td {
  min-width: 30px;
}

body {
  color: #00A8EF;
}

/*=====  header   ====*/
.top-header {
  background: #00aadc url(../img/salutHeader.jpg) no-repeat center;
  position: relative;
  height: 440px;
}

.site-title {
  color: white;
  position: absolute;
  left: 30px;
  font-family: "Georgia";
  font-size: 6em;
}

nav ul li {
  font-family: "Georgia";
  font-size: 1.5em;
  padding: 0px 20px;
}


/*=====  posts  ======*/
.category-winter_party {
  background-image: url(../img/winter.png);
}

.category-spring_party {
  background-image: url(../img/spring1.png);
}

.category-summer_party {
  background-image: url(../img/summer.jpg);
}

.category-autumn_party {
  background-image: url(../img/autumn1.jpg);
}

.wp-post-image {
  float: left;
  margin: 5px;
  border: 2px solid deepskyblue;
  border-radius: 10px;
  height: 100px;
  width: 200px;
}

article.post {
  border: 1px solid deepskyblue;
  border-radius: 20px;
  text-align: justify;
  padding: 15px;
  overflow: hidden;
  height: 19.5em;
}